{{extend 'layout.html'}}

{{block title}}SlugScheduler{{end}}

{{block header}}
<!-- Static navbar -->
<nav class="navbar navbar-default"
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" onClick="window.location.reload()">
                SlugScheduler
            </span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-text">
                <li class="active"><a href="{{=URL('views', 'default/index.html')}}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
            </ul>
        </div>
    </div>
</nav>
{{end}}




<!-- Jumbotron block -->
{{block jumbo}}
<div class="jumbotron text-center main-title">
    <h1 style="font-size: 5rem;">It's time to build the perfect schedule</h1>
</div>
{{end}}

<!-- Body block -->
{{block body}}
<div class="container">
    <!-- CODE TO DISPLAY SCHEDULE GOES HERE -->
</div>
{{end}}

<!-- Footer block -->
{{block footer}}
<footer class="footer">
    <div class="container-fluid">
        <div class="copyright pull-left">SlugScheduler &#169; {{=request.now.year}}</div>
    </div>
</footer>
{{end}}
