<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
<!-- Always force latest IE rendering engine
(even in intranet) & Chrome Frame
Remove this if you use the .htaccess -->
<meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
<!--  Mobile Viewport Fix
j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
device-width: Occupy full width of the screen in its current orientation
initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
user-scalable = yes allows the user to zoom in -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{block title}}{{end}}</title>
<!-- http://dev.w3.org/html5/markup/meta.name.html -->
<meta name="application-name" content="{{=request.application}}">
<!-- Speaking of Google, don't forget to set your site up:
  http://google.com/webmasters -->
  <meta name="google-site-verification" content="">
  <!-- include stylesheets -->
  <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
  <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
<!-- All JavaScript at the bottom, except for Modernizr which enables
  HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
<!--SlugScheduler specific stylesheet-->
  <link rel="stylesheet" href="{{=URL('static', 'css/main-slug.css')}}"/>

<!-- Favicons -->
{{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
</head>
<body>
  <!-- Masthead ===================================== -->    
  {{block header}}
  {{end}}
  <!-- Main ========================================= -->
  {{block jumbo}}
  {{end}}

  {{block body}}
  {{end}}

  <footer class="footer slug-footer text-center" style="">
    <div class="slug-copyright" style="margin-top: 50px;">SlugScheduler &#169; {{=request.now.year}}</div>
  </footer>

  <!-- The javascript =============================== -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>


  <script type="text/javascript">
    function unhide(clickedButton, divID) {
      var item = document.getElementById(divID);
      if (item) {
        if(item.className=='hidden'){
          item.className = 'unhidden' ;
          clickedButton.value = 'hide'
       }else{
          item.className = 'hidden';
          clickedButton.value = 'unhide'
    }
  }}
  </script>


  {{block page_js}}{{end page_js}}
  {{if response.google_analytics_id:}}
  <!-- Analytics ==================================== -->
  <script src="{{=URL('static','js/analytics.min.js')}}"></script>
  <script type="text/javascript">
    analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
    });
  </script>
  {{pass}}
</body>
</html>
